name: Xcode - Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |
          xcodebuild clean build \
                     CODE_SIGNING_REQUIRED=NO \
                     -allowProvisioningUpdates \
                     -scheme SwiftTermApp \
                     -project SwiftTermApp.xcodeproj
